In [6]:
import pandas as pn
import matplotlib.pyplot as plt
import numpy as np
# Uppgift 1

df = pn.read_csv("sysselsattning.csv")
df

                                       Befolkningen 16+ �r efter syssels�ttning, �lder, k�n och �r
syssels�ttning       �lder    k�n                                                   2019
f�rv�rvsarbetande    16-19 �r m�n                                                  58826
                              kvinnor                                              72847
                     20-24 �r m�n                                                 192696
                              kvinnor                                             174074
                     25-29 �r m�n                                                 293352
                              kvinnor                                             268587
                     30-34 �r m�n                                                 303019
                              kvinnor                                             271975
                     35-39 �r m�n                                                 280522
                              kvinnor                                             255391
                     40-44 �r m�n                                                 275085
                              kvinnor                                             260093
ej f�rv�rvsarbetande 16-19 �r m�n                                                 176860
                              kvinnor                                             143432
                     20-24 �r m�n                                                 117928
                              kvinnor                                             103001
                     25-29 �r m�n                                                  86633
                              kvinnor                                              91124
                     30-34 �r m�n                                                  64162
                              kvinnor                                              76735
                     35-39 �r m�n                                                  53373
                              kvinnor                                              61312
                     40-44 �r m�n                                                  46857
                              kvinnor                                              49228